#people-list.people-list
  %ul.list.profile
    %li.clearfix
      %img{:alt => "avatar", :src => guest_avatar}/
      .about
        .name= guest_name
        .status
          %i.fa.fa-circle.online
          online
  .search
    %input{:placeholder => "Search", :type => "text"}/
    %i.fa.fa-search
  %ul.list
    %li.clearfix
      %img{:alt => "avatar", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"}/
      .about
        .name Vincent Porter
        .status
          %i.fa.fa-circle.online
          online
.chat
  .chat-header.clearfix
    %img{:alt => "avatar", :src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg"}/
    .chat-about
      .chat-with Chat with Vincent Porter
      .chat-num-messages already 1 902 messages
    %i.fa.fa-star
  / end chat-header
  .chat-history
    %ul
      %li.clearfix
        .message-data.align-right
          %span.message-data-time 10:10 AM, Today
          \   
          %span.message-data-name Olia
          %i.fa.fa-circle.me
        .message.other-message.float-right
          Hi Vincent, how are you? How is the project coming along?
      %li
        .message-data
          %span.message-data-name
            %i.fa.fa-circle.online
            Vincent
          %span.message-data-time 10:12 AM, Today
        .message.my-message
          Are we meeting today? Project has been already finished and I have results to show you.
        %i.fa.fa-circle.online
        %i.fa.fa-circle.online{:style => "color: #AED2A6"}
        %i.fa.fa-circle.online{:style => "color:#DAE9DA"}
  / end chat-history
  .chat-message.clearfix
    %textarea#message-to-send{:name => "message-to-send", :placeholder => "Type your message", :rows => "3"}
    %i.fa.fa-file-o
    \   
    %i.fa.fa-file-image-o
    %button#send_message Send
  / end chat-message